@font-face {
    font-family: 'Tunga';
    src: url('../../../fonts/Tunga/Tunga.eot');
    src: local('☺'), url('../../../fonts/Tunga/Tunga.woff') format('woff'),
    url('../../../fonts/Tunga/Tunga.ttf') format('truetype'),
    url('../../../fonts/Tunga/Tunga.svg') format('svg');
}

@font-face {
    font-family: 'Tunga-Bold';
    src: url('../../../fonts/Tunga-Bold/Tunga-Bold.eot');
    src: local('☺'), url('../../../fonts/Tunga-Bold/Tunga-Bold.woff') format('woff'),
    url('../../../fonts/Tunga-Bold/Tunga-Bold.ttf') format('truetype'),
    url('../../../fonts/Tunga-Bold/Tunga-Bold.svg') format('svg');
}